page-faviroutes {
    ion-grid {
        ion-row {
            height: 130px;
            border: 1px solid #ccc;
            box-shadow: 0px 2px 4px -3px rgba(0,0,0,0.75);
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 7px;
            .product-image {
                    background: url('../../assets/imgs/product.1jpg.jpg') no-repeat;
                    background-size: 107%;
                    background-position: center;
                    height: 100%;;
            }
            .cart-button {
                display: flex;
                justify-content: space-around;
                align-items: center;
                .trash{
                    position: absolute;
                    top: -3px;
                    left: 3px;
                    font-size: 1.4em;
                    color: #7f7c7ccc;
                }
                button {
                    display: flex;
                    width: 30px ;
                    height: 30px ;
                    border-radius: 50%;
                    color: white;
                    background-color: #ff3300;
                    justify-content: center;
                    align-items: center;
                    span {
                        padding-left: 19px;
                        padding-bottom: 18px;
                        font-weight: bold;
                    }

                }
            }
            ion-col{
                position: relative;
                direction: rtl; 
                span {
                    position: absolute;
                    right: 10px;
                    font-size: .9em;
                    top: 10px
                }
                .price {
                    top: 40%;
                    position: absolute;
                    right: 10px;
                    font-size: 1.2em;
                    color: $mainColor;
                    font-weight: bold;
                }
                rate {
                    position: absolute;
                    top: 60%;
                    right:  10px;
                }
            }
        }
    }
}
