<ion-header>

  <header-amm></header-amm>

</ion-header>

<ion-content padding>
    <ion-grid no-padding>
        <ion-row *ngFor="let fav of favArr">
            <ion-col col-3 class="cart-button">
                <div class="trash" (click)="remove(fav)">
                    <ion-icon name="trash"></ion-icon>
                </div>
            </ion-col>
            <ion-col col-5>
                <span>{{ fav.name }}</span>
                <span class="price">{{ fav.price }}₪</span>
                <rate></rate>
            </ion-col>
            <ion-col class="product-image" col-4 [ngStyle]="{'background-image' : 'url(' + fav.images[0].src  + ')'}"></ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
