<ion-header>

    <header-amm></header-amm>

</ion-header>

<ion-content padding>
    <div class="logo">

    </div>
    <form class="form" [formGroup]="login_form" (ngSubmit)="login(login_form.value)">
        <ion-grid no-padding>
            <ion-row>
                <ion-col col-10 class="inputs">
                    <ion-input type="text" formControlName="username"  placeholder="اسم المستخدم" class="form-controll" required></ion-input>
                    <ion-input type="password" formControlName="password" placeholder="كلمة السر" class="form-controll" required></ion-input>
                </ion-col>
                <ion-col col-1 class="labels">
                    <ion-label><ion-icon name="ios-mail" name="md-mail"></ion-icon></ion-label>
                    <ion-label><ion-icon ios="ios-lock" md="md-lock"></ion-icon></ion-label>
                </ion-col>
            </ion-row>
            <ion-row class="login-butt">
                 <button ion-button [disabled]="!login_form.valid" type="submit">تسجيل الدخول</button>
                 <ion-title><a (click)="register()">ليس لديك حساب؟ سجل الان</a></ion-title>
                 <p class="error-message" *ngIf="error_message">{{error_message}}</p>
              </ion-row>
        </ion-grid>
    </form>
</ion-content>