<ion-header>

    <header-amm></header-amm>

</ion-header>


<ion-content padding>
    <form class="form" [formGroup]="register_form"  (ngSubmit)="onSubmit(register_form.value)">
        <ion-grid no-padding>
            <ion-row>
                <ion-col col-10 class="inputs">
                    <ion-input type="text" formControlName="username"  placeholder=" اسم المستخدم" class="form-controll" required></ion-input>
                    <ion-input type="text" formControlName="displayName" placeholder=" الاسم الظاهر" class="form-controll" required></ion-input>
                    <ion-input type="email" formControlName="email"  placeholder=" البريد الإلكتروني" class="form-controll" required></ion-input>
                    <ion-input type="password" formControlName="password" placeholder="كلمة السر" class="form-controll" required></ion-input>
                </ion-col>
                <ion-col col-1 class="labels">
                    <ion-label><ion-icon name="ios-mail" name="md-mail"></ion-icon></ion-label>
                    <ion-label><ion-icon ios="ios-lock" md="md-lock"></ion-icon></ion-label>
                    <ion-label><ion-icon name="ios-mail" name="md-mail"></ion-icon></ion-label>
                    <ion-label><ion-icon ios="ios-lock" md="md-lock"></ion-icon></ion-label>
                </ion-col>
            </ion-row>
            <ion-row class="login-butt">
                 <button ion-button type="submit" [disabled]="!register_form.valid"> إنشاء حساب</button>
                 <p class="error-message" *ngIf="error_message">{{error_message}}</p>
              </ion-row>
        </ion-grid>
    </form>
    <ion-title (click)="login()" class="do-title"><span> لديك حساب؟ <a href="#" >سجل دخولك</a></span></ion-title>
</ion-content>
