page-register {
    .do-title {
        margin-top: 10px;
    }
    ion-grid {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
          padding: 15px !important;
        ion-row {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .labels {
                text-align: right;
                position: relative;

            }
            .inputs {
                margin-right: 20px;
            }
            ion-col{
                ion-label{
                    color: #878181; 
                    font-size: 1.3em;
                    margin-top: 6px;
                }
                ion-input {
                    direction: rtl;
                    border-bottom: .5px solid #ccc;
                    ::placeholder {
                        direction: rtl;
                    }
                }
            }
        }
        .login-butt {
            margin-top: 20px;
            justify-content: center;
            button {
                width: 90%;
                background-color: crimson;
            }
            p {
                font-size: .8em;
                color: #ccc;
                text-align: center;
            }
        }
    }
}
