<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="الصفحة الرئيسية" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="عنا" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="تواصل معنا" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="المفضلة" tabIcon="star"></ion-tab>
</ion-tabs>
