<ion-navbar>
    <ion-buttons end>
        <button ion-button (click)="openMenu()">
            <ion-icon name="menu"></ion-icon>
		</button>
	</ion-buttons>
	<ion-buttons start>
		<button ion-button (click)="goCart()">
		  <ion-icon name="cart"></ion-icon>
		</button>
		<button ion-button (click)="goSearch()">
			<ion-icon class="search" name="search"></ion-icon>
		</button>
	</ion-buttons>
	<ion-title>
		Ammezo
	</ion-title>
</ion-navbar>