page-cart {
    ion-content {
        ion-grid {
            ion-row {
                height: 130px;
                border: 1px solid #ccc;
                box-shadow: 0px 2px 4px -3px rgba(0,0,0,0.75);
                margin-bottom: 10px;
                padding: 10px;
                border-radius: 7px;
                .product-image {
                        background-size: 107%;
                        background-position: center;
                        height: 100%;;
                }
                .cart-button {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    .trash{
                        position: absolute;
                        top: -3px;
                        left: 3px;
                        font-size: 1.4em;
                        color: #7f7c7ccc;
                    }
                    button {
                        display: flex;
                        width: 30px ;
                        height: 30px ;
                        border-radius: 50%;
                        color: white;
                        background-color: #ff3300;
                        justify-content: center;
                        align-items: center;
                        span {
                            padding-left: 19px;
                            padding-bottom: 18px;
                            font-weight: bold;
                        }

                    }
                }
                ion-col{
                    position: relative;
                    direction: rtl; 
                    span {
                        position: absolute;
                        right: 10px;
                        font-size: .9em;
                        top: 10px
                    }
                    .price {
                        top: 40%;
                        position: absolute;
                        right: 10px;
                        font-size: 1.2em;
                        color: $mainColor;
                        font-weight: bold;
                    }
                    rate {
                        position: absolute;
                        top: 47%;
                        right:  10px;
                    }
                    .add-to-cart {
                        position: absolute;
                        bottom: -5px;
                        left: -2px;
                        width: 53%;
                        background-color: #ff3300;
                        border-radius: 0px 15px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        span {
                            position: initial;
                            right: 0px;
                            font-size: 1em;
                            top: 0px;
                            ion-icon {
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
    ion-footer {
        ion-row:first-of-type {
            margin-top: 10px;
        }
        ion-row:last-child {
            margin-bottom: 20px;
        }
        ion-row {
            ion-col {
                display: flex;
                justify-content: center;
                font-size: 1.3em;
                color: grey;
                direction: rtl; 
                button {
                    width: 100%;
                    background-color: #ff3300;
                    font-size: 1.2em;
                }  
            }
            .total {
                font-weight: bold;
            }
        }
    }
}
