<ion-header>
    <header-amm></header-amm>
</ion-header>
<ion-content padding>
    <ion-grid no-padding>
        <ion-row *ngFor="let item of CartArr">
            <ion-col col-3 class="cart-button">
                <div class="trash" (click)="remove(item.key)">
                    <ion-icon name="trash"></ion-icon>
                </div>
                <button ion-button (click)="increase(item)">
                    <ion-icon name="add"></ion-icon>
                </button>
                <button ion-button>
                {{ item.quantity }}
                </button>
                <button ion-button (click)="decrease(item)">
                    <ion-icon name="remove"></ion-icon>
                </button>
            </ion-col>
            <ion-col col-5>
                <span>{{ item.product_name }}</span>
                <span class="price">{{ item.line_subtotal }}₪</span>
            </ion-col>
            <!--  <ion-col class="product-image" [ngStyle]="{'background-image' : 'url(' + getImages(item.product.images[0].src  + ')'}" col-4></ion-col> -->
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer>
    <ion-grid>
        <ion-row>
            <ion-col col-8>
                <span>{{ _productsPrice }}₪</span>
            </ion-col>
            <ion-col col-4>
                <span>السعر :</span>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-8>
                <span>0</span>
            </ion-col>
            <ion-col col-4>
                <span>الخصم :</span>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-8>
                <span>{{ _shippingPrice }}₪</span>
            </ion-col>
            <ion-col col-4>
                <span> التوصيل:</span>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-8 class="total">
                <span>{{ _totalPrice }}₪</span>
            </ion-col>
            <ion-col col-4>
                <span>صافي السعر :</span>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6>
                <button (click)="checkout()"  ion-button>إنهاء الطلب</button>
            </ion-col>
            <ion-col col-6>
                <button (click)="home()" ion-button>استكمل التسوق</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>