page-home {
    .scroll-content {
        background-color: #f5f5f5 !important;
    }
    ion-slides {
        height: 35%;
        ion-slide {
            background: url('../../assets/imgs/b11-1.jpg') no-repeat;
            background-size: cover;
        }
    }
    ion-grid {
        height: 100px;
        background-color: white;
        -webkit-box-shadow: 0px 6px 6px -3px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 6px 6px -3px rgba(0,0,0,0.75);
        box-shadow: 0px 2px 6px -3px rgba(0,0,0,0.75);
        ion-row {   
            height: 100%;
            ion-col {
                border-right: 1px solid #ccc;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                font-size: .9em;
                span {
                    display: block;
                    margin-bottom: 6px;
                    font-family:  $Tajawal;
                }
            }
            ion-col:first-of-type{
                background: url('../../assets/imgs/womencate.png') no-repeat; 
                background-position: center;
                background-size: 30%;
            }
            ion-col:nth-of-type(2){
                background: url('../../assets/imgs/mencate.png') no-repeat;
                background-position: center;
                background-size: 36%;
            }
            ion-col:nth-of-type(3){
                background: url('../../assets/imgs/prefumes.png') no-repeat;
                background-position: center;
                background-size: 40%;
            }
            ion-col:last-of-type{
                background:url('../../assets/imgs/allcate.png') no-repeat;
                background-position: center;
                background-size: 45%;
            }
        }
    }
    .cate-grid {
        height: 200px;
        background-color: white;
        -webkit-box-shadow: 0px 6px 6px -3px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 6px 6px -3px rgba(0,0,0,0.75);
        box-shadow: 0px 2px 6px -3px rgba(0,0,0,0.75);
        margin-top: 20px;
        border-bottom: .5px solid #ccc;
        .cate-title {
            border-bottom: .5px solid #ccc;
            height: 30%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-right: 10px;
            h2 {
                color: $mainColor;
            }
           }
        .cate-content{
            .cate-first {
                background-image: none;
                position: relative;
                span {
                    display: block;
                    position: absolute;
                    left: 10px;
                    top: 11%;
                    font-size: 1.3em;
                }
                .discount {
                    background: url('../../assets/imgs/discount.jpg') no-repeat;
                    background-size: 132%;
                    background-position: center;
                    width: 50%;
                    height: 76%;
                    position: absolute;
                    right: 0px;
                    top: 13%;

                }
            }
            .cate-second {
                margin-left: .5px solid #ccc;
                background-image: none;
                span{ 
                    display: block;
                    position: absolute;
                    left: 10px;
                    top: 11%;
                    font-size: 1.3em;
                }
                .other-cate {
                    background: url('../../assets/imgs/b14-1024x556.jpg') no-repeat;
                    background-size: cover;
                    background-position-x: 48%;
                    width: 50%;
                    height: 76%;
                    position: absolute;
                    right: 0px;
                    top: 13%;
                }
            }
        }
    }
}
