<ion-header>
    <header-amm></header-amm>
</ion-header>

<ion-content >
  <ion-slides>
	<ion-slide>

	</ion-slide>
	<ion-slide>

	</ion-slide>
	<ion-slide>  

	</ion-slide>
	</ion-slides>

	<ion-grid no-padding>
		<ion-row>
			<ion-col col-3>
				<span>ملابس ستاتي</span>
			</ion-col>
			<ion-col col-3>
					<span>ملابس ستاتي</span>
			</ion-col>
			<ion-col col-3>
					<span>ملابس ستاتي</span>
			</ion-col>
			<ion-col col-3 (click)="goToCate()">
					<span>ملابس ستاتي</span>
			</ion-col>
		</ion-row>
	</ion-grid>

	<ion-grid class="cate-grid" no-padding>
		<ion-row class="cate-title">
			<h2>Hot Deals</h2>
		</ion-row>
		<ion-row class="cate-content">
			<ion-col col-6 class="cate-first">
				<span>Onsale</span>
				<div class="discount"></div>
			</ion-col>
			<ion-col col-6 class="cate-second">
				<span>For all the<Br> family</span>
				<div class="other-cate"></div>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>

