<ion-header>

  <header-amm></header-amm>

</ion-header>

<ion-content>
  <ion-grid no-padding>
	<ion-row>
		<div *ngFor="let cate of aloneCate" class="full-cate" (tap)="goProducts(cate.id)" [ngStyle]="{'background-image' : 'url(' + cate.image.src + ')'}">
			<span class="cate-text">{{ cate.name }} </span>
		</div>
		<ion-col *ngFor = "let cate of categoires" col-6 class="men-cate" (tap)="goProducts(cate.id)" [ngStyle]="{'background-image' : 'url(' + cate.image.src + ')'}">
			<span class="cate-text">{{  cate.name }}</span>
	</ion-col>
	</ion-row>
  </ion-grid>
</ion-content>
