page-categories {
   ion-grid {
    width: 100%;
    ion-row {
        width: 100%;
        height: auto;
        background-color: rgba(255, 255, 255, 0.38);
        .full-cate {
            height: 150px;
            width: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-blend-mode: color;
            background-color: rgba(255, 255, 255, 0.38);
            border-bottom: 1px solid #fff;
            position: relative;
            
        }            
        .men-cate {
            height: 150px;
            width: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-blend-mode: color;
            background-color: rgba(204, 204, 204, 0.3);
            border-right: 1px solid #fff;

        }
        .cate-text {
            position: absolute;
            right: 6px;
            color: white;
            bottom: 10px;
        }
        ion-col:last-child {
            border: none;
            position: relative;
        }
        .phone-cate {
            height: 150px;
            width: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-blend-mode: color;
            background-color: rgba(255, 255, 255, 0.38);    
            border-right: 1px solid #fff;

        }
        .shoes {
            height: 150px;
            width: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-blend-mode: color;
            background-color: rgba(255, 255, 255, 0.38);    
            border-right: 1px solid #fff;
        }
        .watches {
            height: 150px;
            width: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-blend-mode: color;
            background-color: rgba(255, 255, 255, 0.38);    
            border-right: 1px solid #fff;
        }
        .men-shoes {
            height: 150px;
            width: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-blend-mode: color;
            background-color: rgba(255, 255, 255, 0.38);    
            border-right: 1px solid #fff;
        }
        .home {
            height: 150px;
            width: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-blend-mode: color;
            background-color: rgba(255, 255, 255, 0.38);    
            border-right: 1px solid #fff;
        }
    }
   }
}
