page-product {
    .product-image {
        width: 100%;
        height: 400px;
        background-size: cover;
        background-position: center;
        position: relative;
        button {
            position: absolute;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            bottom: -20px;
            right: 0px;  
        }
    }
    ion-grid {
        ion-row {
            margin-top: 20px;
        }
        .desc {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            p {
                text-align: center;
                line-height: 1.3em;
            }
            .price {
                font-size: 1.2em;
                color: $mainColor;
                font-weight: bold;
            }
        }
        ion-col {
            display: flex;
            justify-content: center;
            align-items: center;
            border: .2px solid #ccc;
            height: 50px;
            margin-top: 10px;
            .stauts {
                color: #00FF00	;
            }
        }  

        .cart-cont {
            margin-top: 30px;
            display: flex;
            justify-content: center;
            margin-left: 10px;
            position: relative;
            button {
                width: 162px;
                font-size: 1.3em;
                border-radius: 0px 15px;
                background-color: #ff3300;
                ion-icon {
                    margin-right: 10px;
                    ion-icon {
                        font-weight: bold;
                    }
                }

            }
        }
    }
}