<ion-header>

    <header-amm></header-amm>

</ion-header>


<ion-content padding>
  <div class="product-image" [ngStyle]="{'background-image' : 'url(' + img.src   + ')'}">
    <button ion-button (click)="addToFav(product)">
      <ion-icon name="heart"></ion-icon>
    </button>  
  </div>
  <ion-grid>
    <ion-row class="desc">
      <ion-title>
        {{ product.name }}
      </ion-title>
      <p [innerHTML]=" (product.short_description)"></p>
      <span class="price">{{ product.price }}₪</span>
    </ion-row>
    <ion-row>
      <ion-col col-4>
        <rate></rate>
      </ion-col>
      <ion-col col-4>
        <span class="stauts"> {{ product.in_stock }} </span>
      </ion-col>
      <ion-col col-4>
        <span>طلبية 200</span>
      </ion-col>
    </ion-row>
    <ion-row class="cart-cont">
      <button ion-button (click)="addToCart(product)">
        <ion-icon name="cart"></ion-icon>
        أضف إلى السلة
      </button>
    </ion-row>
  </ion-grid>
</ion-content>
