


@font-face {
    font-family: 'Tajawl Bold';
    src: url('../assets/fonts/Tajawal-Bold.ttf');
}

@font-face {
    font-family: 'Tajawal Extra Bold';
    src: url('../assets/fonts/Tajawal-ExtraBold.ttf');
}

@font-face {
    font-family: 'Tajawal Extra Light';
    src: url('../assets/fonts/Tajawal-ExtraLight.ttf');
}

@font-face {
    font-family: 'Tajawal Light';
    src: url('../assets/fonts/Tajawal-Light.ttf');
}

@font-face {
    font-family: 'Tajawal';
    src: url('../assets/fonts/Tajawal-Regular.ttf');
}

$TajawalBold: "Tajawal Bold";
$TajawalLight: "Tajawal Light";
$Tajawal: "Tajawal";


body, h1, h2, h3, h4, a, div, section, .searchText, button, span {
    font-family: $Tajawal;
}



ion-menu{
    ion-item{
        ion-label{
            font-family: 'Tajawal' !important;
        }
    }
}
$mainColor: #fcb800;

.toolbar-background {
    background-color: $mainColor;
    border-bottom: none !important;
    font-size: 1.5em;
}
.back-button-text-ios {
    display: none !important;
}
ion-list {
    button {
        direction: rtl;
        border-bottom: none;
        ion-icon {
            color: $mainColor;
            margin-left: 9px;
        }
    }
}
.rtl {
    direction: rtl;
}