<ion-menu [content]="nav" side="right">
    <ion-header>
        <ion-toolbar (click)="goHome()">
            <ion-title>
                Ammezo
            </ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <button ion-item>
                <ion-icon name="settings"></ion-icon>
                الاعدادات
            </button>
            <button ion-item (click)="onLoad(account)" *ngIf="!isLogged()">
                <ion-icon name="contact"></ion-icon>
                سجل دخولك
            </button>
            <button ion-item>
                <ion-icon name="paper-plane"></ion-icon>
                راسلنا
            </button>
            <button ion-item (click)="logOut()" *ngIf="isLogged()">
                <ion-icon name="star"></ion-icon>
                    log out 
            </button>
            <button ion-item *ngIf="isLogged()">
                <ion-icon name="unlock"></ion-icon>
                خصائص حسابك
            </button>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #nav></ion-nav>
