
<ion-header>
  <ion-navbar>          
    <ion-buttons start buttons-left>
        <button ion-button (click)="dismiss()" start>
            <ion-icon name="close-circle" class="close-icon"></ion-icon>            
        </button>
    </ion-buttons>
    <ion-title>
        <ion-searchbar placeholder="ابحث" class="rtl" [(ngModel)]="search_key" (ngModelChange)="getProducts(clear = true)" autofocus></ion-searchbar>
    </ion-title>        
</ion-navbar>  
</ion-header>

<ion-content padding>
    <ion-grid no-padding>
        <ion-row (click)="goToProduct(pro.id)" *ngFor="let pro of results">
            <ion-col col-8>
                <span>{{ pro.name }}</span>
                <span class="price">{{ pro.price }}₪</span>
            </ion-col>
            <ion-col class="product-image" col-4 [ngStyle]="{'background-image' : 'url(' + pro.images[0].src   + ')'}"></ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
