page-search-modal {
    ion-grid {
        ion-row {
                height: 130px;
                border: 1px solid #ccc;
                box-shadow: 0px 2px 4px -3px rgba(0,0,0,0.75);
                margin-bottom: 10px;
                padding: 10px;
                border-radius: 7px;
                .product-image {
                        background-size: 107%;
                        background-position: center;
                        height: 100%;;
                }
                ion-col{
                    position: relative;
                    direction: rtl; 
                    span {
                        position: absolute;
                        right: 10px;
                        font-size: .9em;
                        top: 10px
                    }
                    .price {
                        top: 35%;
                        position: absolute;
                        right: 10px;
                        font-size: 1.2em;
                        color: $mainColor;
                        font-weight: bold;
                    }
                    rate {
                        position: absolute;
                        top: 57%;
                        right:  10px;
                    }
                    .add-to-cart {
                        position: absolute;
                        bottom: -5px;
                        height: 30px;
                        left: -2px;
                        width: 53%;
                        background-color: #ff3300;
                        border-radius: 0px 15px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        span {
                            position: initial;
                            right: 0px;
                            font-size: 1em;
                            top: 0px;
                            ion-icon {
                                margin-right: 5px;
                            }
                        }
                    }
                }
        }
    }
}
