<ion-header>
    <header-amm></header-amm>
</ion-header>
<ion-content padding>
    <ion-grid no-padding>
        <ion-row (tap)="goToProduct(pro.id)" *ngFor="let pro of products">
            <ion-col col-8>
                <span>{{ pro.name }}</span>
                <span class="price">{{ pro.price }}₪</span>
                <rate></rate>
                <button ion-button class="add-to-cart" (click)="addToCart(pro)" >
                    <span>
                        أضف إلى السلة
                        <ion-icon name="cart"></ion-icon>
                    </span>
                </button>
            </ion-col>
            <ion-col class="product-image" col-4 [ngStyle]="{'background-image' : 'url(' + pro.images[0].src   + ')'}"></ion-col>
        </ion-row>
    </ion-grid>
</ion-content>